@import '../../scss/segmented-spinner.scss';
@import '../../scss/boxes-spinner.scss';

#segmented-spinner {
  @include segmented-spinner($color: green, $segments: 16, $rounded: true);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#boxes-spinner {
  @include boxes-spinner($color: blue);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
