#segmented-spinner {
  width: 50px;
  height: 50px;
  position: relative;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  #segmented-spinner span {
    position: absolute;
    background-color: green;
    left: 23px;
    top: 0px;
    width: 4px;
    height: 12px;
    border-radius: 2px;
    transform-origin: 2px 25px;
    animation: 0.8s ease-in-out infinite;
    animation-name: segmented-spinner-animation;
    pointer-events: none;
    will-change: auto; }
  #segmented-spinner span:nth-of-type(1) {
    transform: rotate(22.5deg);
    animation-delay: -0.75s; }
  #segmented-spinner span:nth-of-type(2) {
    transform: rotate(45deg);
    animation-delay: -0.7s; }
  #segmented-spinner span:nth-of-type(3) {
    transform: rotate(67.5deg);
    animation-delay: -0.65s; }
  #segmented-spinner span:nth-of-type(4) {
    transform: rotate(90deg);
    animation-delay: -0.6s; }
  #segmented-spinner span:nth-of-type(5) {
    transform: rotate(112.5deg);
    animation-delay: -0.55s; }
  #segmented-spinner span:nth-of-type(6) {
    transform: rotate(135deg);
    animation-delay: -0.5s; }
  #segmented-spinner span:nth-of-type(7) {
    transform: rotate(157.5deg);
    animation-delay: -0.45s; }
  #segmented-spinner span:nth-of-type(8) {
    transform: rotate(180deg);
    animation-delay: -0.4s; }
  #segmented-spinner span:nth-of-type(9) {
    transform: rotate(202.5deg);
    animation-delay: -0.35s; }
  #segmented-spinner span:nth-of-type(10) {
    transform: rotate(225deg);
    animation-delay: -0.3s; }
  #segmented-spinner span:nth-of-type(11) {
    transform: rotate(247.5deg);
    animation-delay: -0.25s; }
  #segmented-spinner span:nth-of-type(12) {
    transform: rotate(270deg);
    animation-delay: -0.2s; }
  #segmented-spinner span:nth-of-type(13) {
    transform: rotate(292.5deg);
    animation-delay: -0.15s; }
  #segmented-spinner span:nth-of-type(14) {
    transform: rotate(315deg);
    animation-delay: -0.1s; }
  #segmented-spinner span:nth-of-type(15) {
    transform: rotate(337.5deg);
    animation-delay: -0.05s; }

@keyframes segmented-spinner-animation {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }

#boxes-spinner {
  width: 45px;
  height: 45px;
  position: relative;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  #boxes-spinner span {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: blue;
    transform-origin: 7.5px 7.5px;
    animation: 1.5s ease-in-out infinite;
    animation-name: boxes-spinner-animation;
    pointer-events: none;
    will-change: auto; }
  #boxes-spinner span:nth-of-type(1) {
    left: 0px;
    top: 0px; }
  #boxes-spinner span:nth-of-type(4),
  #boxes-spinner span:nth-of-type(8) {
    animation-delay: 0.15s; }
  #boxes-spinner span:nth-of-type(1),
  #boxes-spinner span:nth-of-type(5),
  #boxes-spinner span:nth-of-type(9) {
    animation-delay: 0.225s; }
  #boxes-spinner span:nth-of-type(2),
  #boxes-spinner span:nth-of-type(6) {
    animation-delay: 0.3s; }
  #boxes-spinner span:nth-of-type(3) {
    animation-delay: 0.375s; }
  #boxes-spinner span:nth-of-type(4) {
    left: 0px;
    top: 15px; }
  #boxes-spinner span:nth-of-type(4),
  #boxes-spinner span:nth-of-type(8) {
    animation-delay: 0.15s; }
  #boxes-spinner span:nth-of-type(1),
  #boxes-spinner span:nth-of-type(5),
  #boxes-spinner span:nth-of-type(9) {
    animation-delay: 0.225s; }
  #boxes-spinner span:nth-of-type(2),
  #boxes-spinner span:nth-of-type(6) {
    animation-delay: 0.3s; }
  #boxes-spinner span:nth-of-type(3) {
    animation-delay: 0.375s; }
  #boxes-spinner span:nth-of-type(7) {
    left: 0px;
    top: 30px; }
  #boxes-spinner span:nth-of-type(4),
  #boxes-spinner span:nth-of-type(8) {
    animation-delay: 0.15s; }
  #boxes-spinner span:nth-of-type(1),
  #boxes-spinner span:nth-of-type(5),
  #boxes-spinner span:nth-of-type(9) {
    animation-delay: 0.225s; }
  #boxes-spinner span:nth-of-type(2),
  #boxes-spinner span:nth-of-type(6) {
    animation-delay: 0.3s; }
  #boxes-spinner span:nth-of-type(3) {
    animation-delay: 0.375s; }
  #boxes-spinner span:nth-of-type(2) {
    left: 15px;
    top: 0px; }
  #boxes-spinner span:nth-of-type(4),
  #boxes-spinner span:nth-of-type(8) {
    animation-delay: 0.15s; }
  #boxes-spinner span:nth-of-type(1),
  #boxes-spinner span:nth-of-type(5),
  #boxes-spinner span:nth-of-type(9) {
    animation-delay: 0.225s; }
  #boxes-spinner span:nth-of-type(2),
  #boxes-spinner span:nth-of-type(6) {
    animation-delay: 0.3s; }
  #boxes-spinner span:nth-of-type(3) {
    animation-delay: 0.375s; }
  #boxes-spinner span:nth-of-type(5) {
    left: 15px;
    top: 15px; }
  #boxes-spinner span:nth-of-type(4),
  #boxes-spinner span:nth-of-type(8) {
    animation-delay: 0.15s; }
  #boxes-spinner span:nth-of-type(1),
  #boxes-spinner span:nth-of-type(5),
  #boxes-spinner span:nth-of-type(9) {
    animation-delay: 0.225s; }
  #boxes-spinner span:nth-of-type(2),
  #boxes-spinner span:nth-of-type(6) {
    animation-delay: 0.3s; }
  #boxes-spinner span:nth-of-type(3) {
    animation-delay: 0.375s; }
  #boxes-spinner span:nth-of-type(8) {
    left: 15px;
    top: 30px; }
  #boxes-spinner span:nth-of-type(4),
  #boxes-spinner span:nth-of-type(8) {
    animation-delay: 0.15s; }
  #boxes-spinner span:nth-of-type(1),
  #boxes-spinner span:nth-of-type(5),
  #boxes-spinner span:nth-of-type(9) {
    animation-delay: 0.225s; }
  #boxes-spinner span:nth-of-type(2),
  #boxes-spinner span:nth-of-type(6) {
    animation-delay: 0.3s; }
  #boxes-spinner span:nth-of-type(3) {
    animation-delay: 0.375s; }
  #boxes-spinner span:nth-of-type(3) {
    left: 30px;
    top: 0px; }
  #boxes-spinner span:nth-of-type(4),
  #boxes-spinner span:nth-of-type(8) {
    animation-delay: 0.15s; }
  #boxes-spinner span:nth-of-type(1),
  #boxes-spinner span:nth-of-type(5),
  #boxes-spinner span:nth-of-type(9) {
    animation-delay: 0.225s; }
  #boxes-spinner span:nth-of-type(2),
  #boxes-spinner span:nth-of-type(6) {
    animation-delay: 0.3s; }
  #boxes-spinner span:nth-of-type(3) {
    animation-delay: 0.375s; }
  #boxes-spinner span:nth-of-type(6) {
    left: 30px;
    top: 15px; }
  #boxes-spinner span:nth-of-type(4),
  #boxes-spinner span:nth-of-type(8) {
    animation-delay: 0.15s; }
  #boxes-spinner span:nth-of-type(1),
  #boxes-spinner span:nth-of-type(5),
  #boxes-spinner span:nth-of-type(9) {
    animation-delay: 0.225s; }
  #boxes-spinner span:nth-of-type(2),
  #boxes-spinner span:nth-of-type(6) {
    animation-delay: 0.3s; }
  #boxes-spinner span:nth-of-type(3) {
    animation-delay: 0.375s; }
  #boxes-spinner span:nth-of-type(9) {
    left: 30px;
    top: 30px; }
  #boxes-spinner span:nth-of-type(4),
  #boxes-spinner span:nth-of-type(8) {
    animation-delay: 0.15s; }
  #boxes-spinner span:nth-of-type(1),
  #boxes-spinner span:nth-of-type(5),
  #boxes-spinner span:nth-of-type(9) {
    animation-delay: 0.225s; }
  #boxes-spinner span:nth-of-type(2),
  #boxes-spinner span:nth-of-type(6) {
    animation-delay: 0.3s; }
  #boxes-spinner span:nth-of-type(3) {
    animation-delay: 0.375s; }

@keyframes boxes-spinner-animation {
  0% {
    transform: scale(1, 1); }
  35% {
    transform: scale(0, 0); }
  70% {
    transform: scale(1, 1); } }
